.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  background-image: radial-gradient(
      at 5% 1%,
      rgb(167, 243, 208) 0,
      transparent 42%
    ),
    radial-gradient(at 2% 85%, rgb(203, 213, 225) 0, transparent 100%),
    radial-gradient(at 23% 35%, rgb(94, 234, 212) 0, transparent 38%),
    radial-gradient(at 96% 29%, rgb(100, 116, 139) 0, transparent 80%),
    radial-gradient(at 57% 10%, rgb(241, 245, 249) 0, transparent 38%),
    radial-gradient(at 18% 94%, rgb(88, 28, 135) 0, transparent 42%);
}
