@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 75%;
  font-family: "Work Sans";
}

html,
body {
  height: 100%;
}
body {
  margin: 0% 10%;
  background-image: radial-gradient(
      at 5% 1%,
      rgb(167, 243, 208) 0,
      transparent 42%
    ),
    radial-gradient(at 2% 85%, rgb(203, 213, 225) 0, transparent 100%),
    radial-gradient(at 23% 35%, rgb(94, 234, 212) 0, transparent 38%),
    radial-gradient(at 96% 29%, rgb(100, 116, 139) 0, transparent 80%),
    radial-gradient(at 57% 10%, rgb(241, 245, 249) 0, transparent 38%),
    radial-gradient(at 18% 94%, rgb(88, 28, 135) 0, transparent 42%);
}

h2 {
  font-weight: 500;
  padding: 0.5rem 0rem;
}
